In [1]:
techs = ["Fast","Nust"]
Ivy = ["Harvard","Brown","Yale"]

In [2]:
univs = [techs,Ivy]

In [3]:
univs

[['Fast', 'Nust'], ['Harvard', 'Brown', 'Yale']]

In [4]:
univs1 = [['Fast', 'Nust'], ['Harvard', 'Brown', 'Yale']]

In [5]:
univs == univs1

True

In [7]:
id(univs) == id(univs1)

False

In [8]:
id(univs)

2416436832392

In [10]:
id(univs1)

2416446985608

In [13]:
x = 3
id(x)

1517513856

In [14]:
y = x
id(y)

1517513856

In [15]:
x = 5
id(x)

1517513920

In [16]:
id(y)

1517513856

In [22]:
def tup_change(tup):
    id(tup)
    print(id(tup))
    for i in range(1,3):
        tup += (i,)
        print(id(tup))
        id(tup)
    return tup
tupl = (4,6,7,8)
id(tupl)
tup_change(tupl)

2416447929464

In [31]:
ini_id = id(tup_chck)
tup_id(tup_chck)
foo = 1
bar = foo
baz = bar
fii = 1

d = id(foo)
e =id(bar)
f = id(baz)
g = id(fii)
f = id(1)

2416447929464
2416446761448
2416447495624

(4, 6, 7, 8, 1, 2)