In [1]:
import os
file=os.path.join("res","datafile.csv")

In [ ]:
print(file)

In [ ]:
rows=[]
with open(file,"r") as f:
    for line in f:
        rows.append(line.strip().split(","))
rows

In [2]:
for i in rows[1:]:
    for j in range(2,6):
        i[j]=float(i[j])
rows

NameError: name 'rows' is not defined

In [ ]:
a=rows[3]
a.append(5)

In [23]:
a=[]
with open(file,"r") as f:
    for i in f:
        a.append(i.strip().split(","))
a

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25'],
 ['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76'],
 ['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']]

In [24]:
for i in a[1:]:
    for j in range(2,6):
        i[j]=float(i[j])
a

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0]]

In [26]:
new_seq=[]
for e in a:
    r=[str(c)    for c in e]
    new_seq.append(r)
new_seq

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0'],
 ['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0'],
 ['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0']]

In [28]:
news_seq=[]
for k in a:
    v=[str(l)   for l in k]
    news_seq.append(v)
news_seq

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0'],
 ['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0'],
 ['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0']]

In [31]:
fileloc=os.path.join("res","dummy-out.csv")
with open(fileloc,"w") as f:
    for z in news_seq:
        out_line=",".join(r)
        f.write(out_line+"\n")

In [ ]:
with open(fileloc,"r") as f:
    for x in