In [1]:
mammals  = ['cat', 'kangaroo', 'horse']
fish     = ['tuna', 'shark', 'catfish']

In [21]:
tup = (2,4,3)
x = 4
def change_list(tup):
    a = list(tup)
    print(a)
    
change_list(tup)

[3, 4, 5, 6]

In [19]:
print(tup)

(3, 4, 5, 6)

In [30]:
mammals_2 = mammals[:]

In [31]:
mammals_2[0] = "new_element"

In [32]:
animals

[['new_element', 'kangaroo', 'horse'], ['tuna', 'shark', 'catfish']]

In [33]:
s1 = ['student 1', 'James', 'Brown']
s2 = ['student 2', 'Chris', 'Black']
s3 = ['student 3', 'Phil', 'Blue']

In [23]:
new_lst = [s1,s2,s3]

In [24]:
new_lst

[['student 1', 'James', 'Brown'],
 ['student 2', 'Chris', 'Black'],
 ['student 3', 'Phil', 'Blue']]

In [ ]:
new_lst =

In [25]:
print(print(new_lst))

[['student 1', 'James', 'Brown'], ['student 2', 'Chris', 'Black'], ['student 3', 'Phil', 'Blue']]
None

In [ ]:
print(list=[])